
@{
    ViewBag.Title = "Thuonghieu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="products-page">
        <div class="dreamcrub">
            <ul class="breadcrumbs">
                <li class="home">
                    <a href="/" title="Go to News">Trang chủ</a>&nbsp;
                    <span>&gt;</span>
                </li>
                <li class="women">
                    Thương hiệu Si Shop
                </li>
            </ul>
            <ul class="previous">
                <li><a href="/">Back to Previous Page</a></li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="thuonghieu">     
            <h3>GIỚI THIỆU VỀ THƯƠNG HIỆU THỜI TRANG SI SHOP.</h3>
            <hr />
            <p>
                Thương hiệu thời trang nam Si chính thức ra mắt những người yêu mến thời
                trang vào năm 2019. Buổi ban đầu, SI được các bạn trẻ biết đến với những dòng
                sản phẩm đơn giản, mang phong cách trẻ trung, năng động và thoải mái. Sau thành
                công ban đầu, với khởi nguồn từ niềm đam mê thời trang, thương hiệu SI đã đa
                dạng hoá các sản phẩm của mình hơn, ra mắt thêm nhiều mẫu sản phẩm mới và cập
                nhật nhiều thêm các xu hướng thời trang. Đầu tư vào chất lượng và kiểu dáng sản
                phẩm nhưng vẫn giữ được giá trị cốt lõi như phương châm “SIMPLE IS THE BEST” –
                Đơn giản nhưng vẫn thời trang. SI mong muốn mang đến cho khách hàng những sản
                phẩm tốt nhất để các bạn có thể tự tin hơn trên con đường chọn lựa phong cách thời
                trang của riêng mình.</p>
                <br />
                <ul>
                    <h3> ĐỐI TƯỢNG KHÁCH HÀNG</h3>
                    <li> Bạn là một chàng trai sinh viên yêu thích sự gọn nhẹ và thoải mái?</li>
                    <li> Bạn là anh chàng cá tính yêu thời trang thích phối hợp những phong cách hợp thời?</li>
                    <li> Bạn là một nhân viên văn phòng yêu thích sự đơn giản nhưng lịch lãm?</li>
                </ul>
                <br />
             <p>   
                Dù cho bạn là ai, phong cách thời trang của bạn như thế nào thì Si Shop hoàn toàn tự tin
                có thể đáp ứng mọi nhu cầu của bạn. Hơn thế, Si Shop luôn cập nhật sản phẩm mới liên tục để
                bạn có thể “update” cho tủ đồ của mình thêm đa dạng hơn. Với hệ thống cửa hàng mua sắm thuận
                tiện, và các kênh mua sắm online, Si Shop mong muốn sẽ luôn mang đến cho khách hàng sự tiện ích,
                thoải mái, và thân thiện trong suốt quá trình mua sắm. Còn chần chờ gì nữa, hãy đến với Si Shop
                để trở thành một chàng trai đa phong cách các bạn nhé!
            </p>
          </div>
    </div>
</div>