
@{
    ViewBag.Title = "SuccessAdmin";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-success">Thực hiện thành công</div>
<div><a href="/Admin/Product/Index">Quay lại trang sản phẩm</a></div>