
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section header{
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/Admin/Home">Shop Si</a>
    </li>
    <li class="breadcrumb-item active">Trang chủ</li>
</ol>
<h5>Chào mừng bạn đã đến với trang Admin</h5>
}


